<div class="container">
	
	<div class="row">
		<div class="col-sm-6">
			<div class="container">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="text-center">CREA TU PROYECTO</h2>
					<br>
				</div>
			</div>
			<%= render 'form', pin: @pin %>
		</div>
	</div>
</div>