

<div class="jumbotron">
	<div class="container">
		<div class="page-header">
			<h2>Tu Portafolio Online<small>Gratuito</small></h2>
		</div>
	</div>

	
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
		<div class="page-header">
			<h2>Example page header <small>Subtext for header</small></h2>
		</div>
			
			<a href="http://www.google.com">Google</a>
			<a href="http://www.google.com" target="_blank">Google</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita esse nobis, vitae similique dicta minus incidunt blanditiis aperiam nisi. Voluptates fuga maiores sint nesciunt nisi, ad porro error sit.</p>
		</div>

		<div class="col-sm-4">
		<div class="page-header">
			<h2>Example page header <small>Subtext for header</small></h2>
		</div>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita esse nobis, vitae similique dicta minus incidunt blanditiis aperiam nisi. Voluptates fuga maiores sint nesciunt nisi, ad porro error sit.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita esse nobis, vitae similique dicta minus incidunt blanditiis aperiam nisi. Voluptates fuga maiores sint nesciunt nisi, ad porro error sit.</p>

		</div>

		<div class="col-sm-4">
		<div class="page-header">
			<h2>Example page header <small>Subtext for header</small></h2>
		</div>



			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita esse nobis, vitae similique dicta minus incidunt blanditiis aperiam nisi. Voluptates fuga maiores sint nesciunt nisi, ad porro error sit.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt expedita esse nobis, vitae similique dicta minus incidunt blanditiis aperiam nisi. Voluptates fuga maiores sint nesciunt nisi, ad porro error sit.</p>

			<img class="img-responsive" src="https://www.readwriteweb.es/wp-content/uploads/2016/06/Google-Im%C3%A1genes-1.png" alt="">

			<a href="https://www.google.cl/">
				<img class="img-responsive" src="https://www.readwriteweb.es/wp-content/uploads/2016/06/Google-Im%C3%A1genes-1.png" alt="">
			</a>
		</div>
	</div>
</div>
